body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/img1.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    color: white;
}

.img{
    display: flex;
    width: 100px;
    height: 100px;
}